.header {
  color: var(--app-white);
  font-weight: 400;
  line-height: 3.7rem;
  /* font-size: 2.5rem; */
}
.subtitle {
  color: var(--app-white);
}

.hero-section {
  background: linear-gradient(180deg, rgba(0, 8, 31, 0.74) 0%, #00081f 37.46%),
    url("https://res.cloudinary.com/blockchainhub-africa/image/upload/v1667644699/blockchainhubafrica/bg-image-bcha_afgttx.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 110vh; */
}

.hero-section * {
  color: var(--app-white);
}

.orange-heading {
  text-transform: uppercase;
  color: var(--app-orange);
  letter-spacing: var(--app-letter-spacing-lg);
  font-family: var(--app-secondary-font);
  /* font-weight: 400; */
  font-size: 1rem;
}

.jumbotron {
  font-size: 4rem;
}

.bottom-bar {
  border-color: #626262;
}

@media screen and (min-width: 1024px) {
  .bottom-bar {
    width: 80%;
  }
}

.container button.submit {
  width: 100%;
  background-color: var(--app-orange);
  border-radius: var(--app-border-radius-sm);
  color: var(--app-white);
}

.container button.submit svg path {
  fill: var(--app-white);
}

.hero-section form {
  background-color: var(--app-white);
  border-radius: var(--app-border-radius-sm);
  width: 550px;
}

@media screen and (min-width: 1280px) {
  .hero-section {
    /* height: 115vh; */
  }
  .hero-section form {
    background-color: var(--app-white);
    border-radius: var(--app-border-radius-sm);
    width: 450px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-section form {
    background-color: var(--app-white);
    border-radius: var(--app-border-radius-sm);
    width: 550px;
  }
}

.container .spaced-heading {
  letter-spacing: var(--app-letter-spacing-sm);
  color: var(--app-black);
  font-family: var(--app-secondary-font);
}

.ticket-label {
  color: var(--app-orange);
  letter-spacing: var(--app-letter-spacing-lg);
  font-family: var(--app-secondary-font);
  text-transform: uppercase;
}

.registration-form-btn {
  max-width: 100%;
}

.registration-form-btn button {
  font-size: 16px;
  padding: 14px;
}

@media screen and (min-width: 1024px) {
  .registration-form-btn {
    max-width: 450px;
  }
}

.urgent-text {
  letter-spacing: 1.5px;
}

.second-section h4 {
  color: var(--app-black);
  font-family: var(--app-secondary-font);
  font-size: 1.9375rem;
  line-height: 1.8125rem;
}

.third-section h4 {
  color: var(--app-blue-400);
  font-family: var(--app-secondary-font);
  font-size: 1.7375rem;
  line-height: 1.5125rem;
}

.second-section p,
.third-section p {
  color: var(--app-black);
  font-family: var(--app-primary-font);
  font-size: 1rem;
  line-height: 1.575rem;
}

.values {
  position: relative;
}

.values svg {
  position: relative;
  top: 60px;
  left: -30px;
  transform: scale(0.5);
}

.gallery h4 {
  color: var(--app-white) !important;
}

.events h2,
.events h3,
.gallery h2,
.gallery h3,
.values h2,
.values h3 {
  font-family: var(--app-secondary-font);
  font-weight: 400;
}

.events h2,
.gallery h2,
.values h2 {
  letter-spacing: 0.25rem;
  font-size: 1rem;
  letter-spacing: var(--app-letter-spacing-lg);
}

.events-button {
  width: 200px;
}

@media screen and (min-width: 768px) {
  .first-section h1 {
    font-size: 3rem;
    line-height: 53px;
  }

  .vision-mission-card p {
    font-size: 1rem;
    color: var(--app-gray-600);
    font-family: var(--app-primary-font);
    font-size: 1.375rem;
    line-height: 2.15rem;
  }

  .second-section h4 {
    font-size: 3.125rem;
    line-height: 3.5rem;
  }

  .third-section h4 {
    font-size: 2.525rem;
    line-height: 2.8rem;
  }

  .second-section p,
  .third-section p {
    font-size: 1.175rem;
    line-height: 1.75rem;
  }

  .ellipse {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background: var(--app-orange);
    border-radius: 50%;
    right: 1rem;
    top: 300px;
    filter: blur(200px);
    box-shadow: 42px 10px 128px 115px rgba(255, 153, 0, 0.9);
    -webkit-box-shadow: 42px 10px 128px 115px rgba(255, 153, 0, 0.9);
    -moz-box-shadow: 42px 10px 128px 115px rgba(255, 153, 0, 0.9);
  }

  .stats-card h5 {
    font-size: 3rem;
  }

  .stats-card h6 {
    font-size: 1.2rem;
  }
}

.gallery {
  background-color: #000920;
}

.gallery .workshop-speakers {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

@media screen and (min-width: 1024px) {
  .gallery .workshop-speakers {
    padding-top: 150px !important;
    padding-bottom: 200px !important;
  }
}
