/** @format */

.container {
	position: absolute;
	width: 100%;
	height: 65px;
	left: 0px;
	top: 96px;
	background-color: #ff9900;
	z-index: var(--header-z-index);
	text-align: center;
}

.message {
	position: absolute;
	width: 100%;
	height: 19px;
	left: 300px;
	top: 23px;
	font-family: Coolvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	letter-spacing: 0.1em;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
}
