.container {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper img {
  border-radius: 9.375rem;
}

.circle-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.circle-image-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

@media screen and (min-width: 640px) {
  .circle-image-wrapper {
    width: 230px;
    height: 230px;
  }
}

@media screen and (min-width: 1024px) {
  .circle-image-wrapper {
    width: 260px;
    height: 260px;
  }
}

.circle-image-wrapper img,
.circle-image-wrapper span {
  border-radius: 50% !important;
  object-fit: cover !important;
}

.container img {
  border-radius: 9.375rem;
}

.container h4 {
  color: var(--app-black);
  font-family: var(--app-secondary-font);
  font-size: 1.5rem;
  margin-top: 15px;
  text-align: center;
}

.container h5 {
  color: var(--app-gray-600);
  font-family: var(--app-primary-font);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container h4 {
    font-size: 1.8rem;
  }

  .container h5 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .container h4 {
    font-size: 2rem;
  }

  .container h5 {
    font-size: 1.28rem;
  }
}

@media screen and (min-width: 1280px) {
  .container h4 {
    font-size: 2.25rem;
  }

  .container h5 {
    font-size: 1.375rem;
  }
}
