.container h1 {
  line-height: 3.5rem;
  font-weight: 500;
}

.container h1 .gradient-text {
  background: -webkit-linear-gradient(45deg, #09009f, #ec4899 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 550;
}

.container .digital-art {
  max-height: 400px;
}

.container .digital-art div {
  max-height: 400px;
  text-align: right;
}

.container .digital-art img {
  object-fit: contain;
  border-radius: 5px;
}

.container .digital-art:last-child img {
  object-fit: cover;
}

.stats :first-child {
  background: -webkit-linear-gradient(45deg, #09009f, #ec4899 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: var(--app-purple); */
}