.container img {
  height: 100% !important;
  object-fit: cover !important;
}

.container .story-description {
  /* font-size: 22px; */
  font-weight: 300;
}

@media screen and (min-width: 1024px) {
  .container .story-description {
    font-size: 22px;
    font-weight: 300;
  }
}
